*.pyc
*.db
*~
.idea
*.idea/

/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
/updateenv/
MANIFEST
coverage.*
.vscode/
/.vscode/

!.gitignore
!.travis.yml
!.isort.cfg
apps/infrastructure/customers
media
/media
/logging/critical/*
/logging/debug/*
/logging/error/*
/logging/info/*
/logging/warning/*

db.sqlite3
/db.sqlite3

.env
.venv
env/
venv/
*/venv
venv/*
